#chat-screen {
    background-color: #abc1d1;
    height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

#chat-screen .alt-header {
    z-index: 1;
}

#chat-screen .status-bar {
    z-index: 2;
}

.main-chat {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 10px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 25px;
}

@keyframes fadeIn {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.massage-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    animation: fadeIn 0.8s linear;
}

.massage-row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.meassage__info {
    display: flex;
    align-items: flex-end;
}

.message__author {
    margin-bottom: 5px;
    display: block;
}

.message__bubble {
    background-color: white;
    padding: 12px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
    font-size: 18px;
}

.message__time,
.message__author {
    opacity: 0.8;
    font-size: 14px;
}

@keyframes fadeInright {
    from {
        transform: translateX(30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.massage-row--own {
    justify-content: flex-end;
    animation: fadeInright 0.8s linear;
}

.massage-row--own .message__bubble {
    background-color: var(--yellow);
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    margin-right: 0;
    margin-left: 5px;
}

.massage-row--own .meassage__info {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply__columm:first-child {
    width: 10%;
}

.reply__columm:last-child {
    width: 90%;
    position: relative;
}

.reply input {
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    padding: 12px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply i {
    opacity: 0.5;
}

.reply__columm:last-child > i,
.reply__columm:last-child button {
    position: absolute;
    right: 5px;
    top: 5px;
}

.reply__columm:last-child > i {
    right: 40px;
    top: 12px;
}

.reply__columm button {
    background-color: var(--yellow);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
}

.reply__columm button i {
    opacity: 1;
}

.reply__columm button:focus,
.reply__columm button:active {
    outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
    opacity: 0;
}

.reply:focus-within input {
    width: 98vw;
    transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
    transform: translateY(80px);
}
